# 后端
**/target/
**/.idea/
**/*.iml
**/.mvn/

# 前端
**/node_modules/
**/dist/
**/.vscode/

# 系统
.DS_Store
Thumbs.db
*.log

# 日志文件
**/logs/
**/*.log
log.path_IS_UNDEFINED/

# 上传文件目录（本地开发时的测试图片）
easymall-uploads/
